<!DOCTYPE html>
<!-- 导入名称空间 -->
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br/><br/><br/>

<center>

    <h1><font color="red">删除内容</font> </h1>

    <form action="/content" method="post">
        <!-- 创建一个隐藏input标签，用于欺骗浏览器。传输delete方式的请求 -->
        <input type="hidden" name="_method" th:value="delete"/>
        <input type="hidden" th:name="id" th:value="${id}"/>                <br/><br/>
        <input type="submit" th:value="删除"/>
    </form>

</center>

</body>
</html>